### Descripción del Proyecto

Construir una base de datos SQL para una universidad que gestione estudiantes, cursos, profesores y calificaciones.

### Requisitos Técnicos del Proyecto

El proyecto debe contener las siguientes características técnicas:

Construir una base de datos con las siguientes tablas:  
+ Estudiantes, 
+ Cursos, 
+ Profesores, 
+ Calificaciones.  

Establecer relaciones de clave foránea entre las tablas.

Crear un script que llene todas las tablas de la base de datos con datos de muestra.

In [ ]:
CREATE TABLE `botegaproject_bea`.`estudiantes` (
  `id_estudiantes` INT NOT NULL AUTO_INCREMENT,
  `nombre_estudiante` NVARCHAR(45) NOT NULL,
  `edad` INT NULL,
  `email_estudiante` NVARCHAR(25) NULL,
  PRIMARY KEY (`id_estudiantes`),
  UNIQUE INDEX `idestudiantes_UNIQUE` (`id_estudiantes` ASC));

In [ ]:
INSERT INTO Estudiantes (nombre_estudiante, edad, email_estudiante) VALUES
('Carlos Pérez', 20, 'carlos.perez@example.com'),
('Laura Gómez', 22, 'laura.gomez@example.com'),
('Pedro Sánchez', 19, 'pedro.sanchez@example.com'),
('Ana Ruiz', 21, 'ana.ruiz@example.com'),
('Luis Torres', 23, 'luis.torres@example.com'),
('Marta Díaz', 20, 'marta.diaz@example.com'),
('José Martínez', 22, 'jose.martinez@example.com'),
('María Hernández', 21, 'maria.hernandez@example.com'),
('Juan González', 24, 'juan.gonzalez@example.com'),
('Isabel López', 20, 'isabel.lopez@example.com'),
('David Romero', 25, 'david.romero@example.com'),
('Elena García', 21, 'elena.garcia@example.com'),
('Mario Rodríguez', 23, 'mario.rodriguez@example.com'),
('Luisa Herrera', 22, 'luisa.herrera@example.com'),
('Miguel Sánchez', 20, 'miguel.sanchez@example.com'),
('Patricia Vargas', 19, 'patricia.vargas@example.com'),
('Jorge Ruiz', 21, 'jorge.ruiz@example.com'),
('Nora Fernández', 22, 'nora.fernandez@example.com'),
('Carlos Martínez', 23, 'carlos.martinez@example.com'),
('Mónica Díaz', 24, 'monica.diaz@example.com'),
('Álvaro Gómez', 20, 'alvaro.gomez@example.com'),
('Sofía Jiménez', 21, 'sofia.jimenez@example.com'),
('Javier González', 23, 'javier.gonzalez@example.com'),
('Laura García', 22, 'laura.garcia@example.com'),
('Andrés Pérez', 19, 'andres.perez@example.com'),
('Sandra Romero', 20, 'sandra.romero@example.com'),
('Luis Hernández', 21, 'luis.hernandez@example.com'),
('Verónica Martínez', 22, 'veronica.martinez@example.com'),
('Francisco López', 23, 'francisco.lopez@example.com'),
('Rebeca Sánchez', 20, 'rebeca.sanchez@example.com'),
('Pedro Gómez', 24, 'pedro.gomez@example.com'),
('Carmen Díaz', 21, 'carmen.diaz@example.com'),
('Ricardo Torres', 20, 'ricardo.torres@example.com'),
('Claudia Ruiz', 22, 'claudia.ruiz@example.com'),
('Santiago Rodríguez', 23, 'santiago.rodriguez@example.com'),
('Isabel Pérez', 25, 'isabel.perez@example.com'),
('Antonio González', 19, 'antonio.gonzalez@example.com'),
('Inés Hernández', 21, 'ines.hernandez@example.com'),
('Óscar Sánchez', 22, 'oscar.sanchez@example.com'),
('Elena Rodríguez', 20, 'elena.rodriguez@example.com'),
('Javier González', 24, 'javier.gonzalez@example.com'),
('Beatriz García', 23, 'beatriz.garcia@example.com'),
('Alejandro Martínez', 19, 'alejandro.martinez@example.com'),
('Patricia López', 21, 'patricia.lopez@example.com'),
('Sergio Sánchez', 22, 'sergio.sanchez@example.com'),
('Ana Hernández', 24, 'ana.hernandez@example.com'),
('Pablo Díaz', 20, 'pablo.diaz@example.com'),
('Alicia González', 21, 'alicia.gonzalez@example.com'),
('Jorge Torres', 23, 'jorge.torres@example.com'),
('Laura Rodríguez', 22, 'laura.rodriguez@example.com'),
('Carlos Sánchez', 25, 'carlos.sanchez@example.com');

In [ ]:
CREATE TABLE `botegaproject_bea`.`profesores` (
  ` id_profesor` INT NOT NULL AUTO_INCREMENT,
  `nombre_profesor` NVARCHAR(50) NOT NULL,
  `departamento` VARCHAR(45) NULL,
  PRIMARY KEY (` id_profesor`));

In [ ]:
INSERT INTO Profesores (nombre, departamento) VALUES
('Dr. Rodríguez', 'Matemáticas'),
('Dra. López', 'Literatura'),
('Dr. Martínez', 'Física'),
('Dra. Garcia', 'Quimica'),
('Dra. Gonzalez', 'Tecnologia'),
('Juan Rodríguez', 'Matemáticas'),
('Lucia López', 'Literatura'),
('Ana Martínez', 'Física'),
('Fran. Garcia', 'Quimica'),
('Beatriz Gonzalez', 'Tecnologia'),
('Jon Rodríguez', 'Historia'),
('Lola López', 'Ingieneria'),
('Ana Martínez', 'Física'),
('Fran. Garcia', 'Quimica'),
('Beatriz Gonzalez', 'Tecnologia'),
('Juan Rodríguez', 'Matemáticas'),
('Lola López', 'Ingieneria'),
('Ana Martínez', 'Física'),
('Fran. Garcia', 'Quimica'),
('Beatriz Gonzalez', 'Tecnologia'),
('Juan Rodríguez', 'Matemáticas'),
('Lucia López', 'Literatura'),
('Ana Martínez', 'Física'),
('Fran. Garcia', 'Quimica'),
('Beatriz Gonzalez', 'Tecnologia');

In [ ]:
CREATE TABLE `botegaproject_bea`.`cursos` (
  ` id_curso` INT NOT NULL AUTO_INCREMENT,
  `nombre_curso` NVARCHAR(100) NOT NULL,
  `profesor_id` INT NULL,
  `semestre_curso` INT NULL,
  PRIMARY KEY (` id_curso`),
  UNIQUE INDEX ` id_curso_UNIQUE` (` id_curso` ASC),
  INDEX `profesor_id_idx` (`profesor_id` ASC),
  CONSTRAINT `FK_profesor_id_curso`
    FOREIGN KEY (`profesor_id`)
    REFERENCES `botegaproject_bea`.`profesores` (` id_profesor`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION);

In [ ]:
INSERT INTO Cursos (nombre_curso, profesor_id, semestre_curso) VALUES
('Álgebra Lineal', 1, '002002024'),
('Literatura Hispánica', 2, '002002024'),
('Mecánica Cuántica', 3, '001002024'),
('volumetría y fluidos', 4, '002002024'),
('Inteligencia Artifical', 5, '001002024');

In [ ]:
CREATE TABLE `botegaproject_bea`.`calificaciones` (
  ` id_calificacion` INT NOT NULL AUTO_INCREMENT,
  `estudiante_id` INT NOT NULL,
  `curso_id` INT NOT NULL,
  `nota` DECIMAL(5,2) NOT NULL,
  `fecha` VARCHAR(45) NULL,
  PRIMARY KEY (` id_calificacion`),
  UNIQUE INDEX ` id_calificacion_UNIQUE` (` id_calificacion` ASC),
  INDEX `FK_estudiante id_idx` (`estudiante_id` ASC) ,
  INDEX `FK_curso_:id_idx` (`curso_id` ASC) ,
  CONSTRAINT `FK_estudiante_iid`
    FOREIGN KEY (`estudiante_id`)
    REFERENCES `botegaproject_bea`.`estudiantes` (`id_estudiantes`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `FK_curso_:id`
    FOREIGN KEY (`curso_id`)
    REFERENCES `botegaproject_bea`.`cursos` (` id_curso`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION);

In [ ]:
INSERT INTO Calificaciones (estudiante_id, curso_id, nota, fecha) VALUES
(1, 1, 8.75, '2024-03-15'),
(2, 2, 7.50, '2024-03-16'),
(3, 3, 9.00, '2024-03-17'),
(4, 4, 6.80, '2024-03-18'),
(5, 5, 8.25, '2024-03-19'),
(6, 1, 7.90, '2024-03-20'),
(7, 2, 8.60, '2024-03-21'),
(8, 3, 9.10, '2024-03-22'),
(9, 4, 6.50, '2024-03-23'),
(10, 5, 8.75, '2024-03-24'),
(11, 1, 7.80, '2024-03-25'),
(12, 2, 9.20, '2024-03-26'),
(13, 3, 8.40, '2024-03-27'),
(14, 4, 6.70, '2024-03-28'),
(15, 5, 8.55, '2024-03-29'),
(16, 1, 7.95, '2024-03-30'),
(17, 2, 8.65, '2024-03-31'),
(18, 3, 9.05, '2024-04-01'),
(19, 4, 6.60, '2024-04-02'),
(20, 5, 8.80, '2024-04-03'),
(1, 2, 8.80, '2024-04-09'),
(2, 3, 7.60, '2024-04-10'),
(3, 4, 9.20, '2024-04-11'),
(4, 5, 6.90, '2024-04-12'),
(5, 1, 8.30, '2024-04-13'),
(6, 2, 7.85, '2024-04-14'),
(7, 3, 8.55, '2024-04-15'),
(8, 4, 9.10, '2024-04-16'),
(9, 5, 6.75, '2024-04-17'),
(10, 1, 8.65, '2024-04-18');

In [ ]:
SELECT * FROM estudiantes;
SELECT * FROM calificaciones;
SELECT * FROM profesores;
SELECT * FROM cursos;

### Scripts de consulta SQL para:  

1. La calificación promedio que da cada profesor.

In [ ]:
SELECT p.nombre_profesor, AVG(ca.nota) AS calificacion_promedio
FROM calificaciones ca
JOIN cursos cu ON ca.curso_id = cu.` id_curso`
JOIN profesores p ON cu.profesor_id = p.` id_profesor`
GROUP BY p.nombre_profesor;

2. Las mejores calificaciones de cada estudiante.

In [ ]:
SELECT e.nombre_estudiante, MAX(ca.nota) AS mejor_calificacion
FROM calificaciones ca
JOIN estudiantes e ON ca.estudiante_id = e.id_estudiantes
GROUP BY e.nombre_estudiante;

3. Ordenar a los estudiantes por los cursos en los que están matriculados.

In [ ]:
SELECT e.nombre_estudiante, cu.nombre_curso
FROM calificaciones ca
JOIN estudiantes e ON ca.estudiante_id = e.id_estudiantes
JOIN cursos cu ON ca.curso_id = cu.` id_curso`
ORDER BY e.nombre_estudiante, cu.nombre_curso;

4. Crear un informe resumen de los cursos y sus calificaciones promedio, ordenado desde el curso más desafiante (curso con la calificación promedio más baja) hasta el curso más fácil.

In [ ]:
SELECT cu.nombre_curso, AVG(ca.nota) AS calificacion_promedio
FROM calificaciones ca
JOIN cursos cu ON ca.curso_id = cu.` id_curso`
GROUP BY cu.nombre_curso
ORDER BY calificacion_promedio ASC;

5. Encontrar qué estudiante y profesor tienen más cursos en común.

In [ ]:
SELECT e.nombre_estudiante, p.nombre_profesor, COUNT(*) AS cursos_comunes
FROM calificaciones ca
JOIN estudiantes e ON ca.estudiante_id = e.id_estudiantes
JOIN cursos cu ON ca.curso_id = cu.` id_curso`
JOIN profesores p ON cu.profesor_id = p.` id_profesor`
GROUP BY e.nombre_estudiante, p.nombre_profesor
ORDER BY cursos_comunes DESC
LIMIT 1;

> Opciones de envío: Subir todos los scripts a un solo repositorio de Github y enviar el enlace a un Mentor a través de la aplicación de soporte. Si no estás familiarizado con Github, crea un gist separado para todos los scripts y envía el gist a través de la aplicación de soporte.